.btn1{
    background-color: green;
    color: red;
    font-size: 30px;
}

.btn2{
    background-color: rgb(22, 91, 252);
    color: rgb(174, 36, 36);
    font-size: 30px;

}

.btn3{
    background-color: rgb(135, 200, 135);
    color: rgb(149, 79, 79);
    font-size: 30px;

}