.btn1{
    background-color: green;
    color: red;
    font-size: 30px;
}

.btn2{
    background-color: rgb(106, 107, 106);
    color: rgb(114, 9, 9);
    font-size: 30px;

}

.btn3{
    background-color: rgb(135, 200, 135);
    color: rgb(149, 79, 79);
    font-size: 30px;

}